.AFTVolumes
.android
.bundle
.cache
.config
.docker
.gem
.gradle
.hyper_plugins
.jabba
.local
.node-gyp
.npm
.nvm
.oh-my-zsh
.phpbrew
.rbenv
.solargraph
.ssh
.Trash
.vscode
.zinit
.zsh_sessions
.bash_profile
.bashrc
.CFUserTextEncoding
.emulator_console_auth_token
.netrc
.yarnrc
.zcompdump
.zcompdump-iMac de Gabriel-5.8
.zshrc.pre-oh-my-zsh
.DS_Store

cache
node_modules
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Parallels
Pictures
Postman
Public
